{{#> layout}}
<div style="margin-left: 20px; margin-right: 20px">
    <div style="
                          mso-line-height-rule: exactly;
                          mso-text-raise: 11px;
                          vertical-align: middle;
                        ">
        <p style="margin-top: 0; margin-bottom: 0">
            <span style="color: #000000">Hello {{name}}</span>
        </p>
        <p style="margin-top: 20px; margin-bottom: 0">
            <span style="color: #000000">Welcome!</span>
        </p>
        <p style="margin-top: 20px; margin-bottom: 0">
            <span style="color: #000000">Your account has been created successfully, this
                account can be used to create many SecretSanta groups!</span>
        </p>
        <p style="margin-top: 20px; margin-bottom: 0">
            <span style="color: #000000">Kindly click on the link below to veiw your groups.</span>
        </p>
    </div>
</div>
{{/layout}}