{{#> layout}}
<div style="margin-left: 20px; margin-right: 20px">
    <div style="
                          mso-line-height-rule: exactly;
                          mso-text-raise: 11px;
                          vertical-align: middle;
                        ">
        <p style="margin-top: 0; margin-bottom: 0">
            <span style="color: #000000">Hello {{name}}</span>
        </p>
        <p style="margin-top: 20px; margin-bottom: 0">
            <span style="color: #000000">Your group {{groupTitle}} has a new Santa event!</span>
        </p>
        <p style="margin-top: 10px; margin-bottom: 0">
            <span style="color: #000000">Details below:</span>
        </p>
        <p style="margin-top: 10px; margin-bottom: 0">
            <span style="color: #000000">Title: {{eventTitle}}</span>
        </p>
        <p style="margin-top: 10px; margin-bottom: 0">
            <span style="color: #000000">Description: {{eventDescription}}</span>
        </p>
        <p style="margin-top: 20px; margin-bottom: 0">
            <span style="color: #000000">Kindly click on the link below to veiw who you are a Secret Gifter to.</span>
        </p>
    </div>
</div>
{{/layout}}